*{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

/* Calculator Design Section */
.container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.calculator-body{
    background-color: #E2D1F9;
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 8px;
}

.calculator-screen{
    background-color: #eee;
    height: 40%;
    margin: 15px;
    border-radius: 5px;
}

.calculator-buttons{
    background-color: #317773;
    height: 60%;
    margin: 15px;
    display: flex;
    flex-flow: column wrap;
    border-radius: 5px;

}
.operations-group{
    /* display: flex; */
    /* flex-flow: row wrap; */
    margin-top: 30px;
    width: 40%;
}
.numbers-group{
    /* margin: 10px; */
    margin-top: 30px;
    width: 60%;
    
}
.number{
    padding: 15px;
    border-radius: 5px;
    margin: 2px;
    margin-bottom: 5px;
    cursor: pointer;
}
.operand{
    padding: 15px;
    border-radius: 5px;
    margin: 2px;
    margin-bottom: 5px;
    cursor: pointer;
    /* font-size: 10px; */
}
.calculator-screen{
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.calculator-screen .lastOperationScreen,
.calculator-screen .currentOperationScreen{
    text-align: right;
    font-size: 30px;
}

.operand,
.number{
    font-size: 15px;
    background-color: #E2D1F9;
}

.subtract,
.multiply,
.divide,
.point{
    padding-left: 17px;
    padding-right: 17px;
}

.clear{
    color: red;
}


.operand:hover,
.number:hover{
    background-color: #eee;
    font-weight: bold;
}


.footer{
    background-color: #111;
    color: #eee;
    margin-top: 50px;
    padding: 40px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 20px;
}

.heading{
    margin-top: 30px;
}

.calculator-screen:hover{
    background-color: white;
}